body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
table{
    /* border: solid 1px black; */
    height: inherit;
    width: inherit;
}
#category-tree{
    border: solid 1px black;
    height: 100%;
    width: 20%;
    vertical-align: top;
}
#category-view{
    /* border: solid 1px black; */
    height: 100%;
    width: 80%;
}
#category-list{
    list-style: none;
    padding: 0;
}
#image{
    height: 100px;
    width: 100px;
}
#category-buttons{
    padding-left: 0%;
}
.w3-bar-item {
    padding: 0;
}