<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style/categories.css">
    <link rel="stylesheet" href="style/add_category.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/category.js"></script>
</head>
<body>
    <table border="1">
        <tr>
            <td id="category-buttons">
                <a onclick="openForm('addForm')" class="tooltip w3-btn w3-white w3-border w3-border-green w3-circle">
                    &#10133
                    <span class="tooltiptext">
                        Add category
                    </span>
                </a>
                <div class="blackout" id="addForm">
                    <div class="form-popup">
                        <form action="src/action_category.php" class="form-container" method="POST">
                            <h1>Add category</h1>
                            <label for="name"><b>Name</b></label>
                            <input type="text" placeholder="Enter category name" name="name" required>
                        
                            <label for="sub-list[]"><b>Subcategory list</b></label>
                            <div id="sublist-id" name="sub-list[]">
                                <div class="sublist-container" name="sub-list[]">
                                    <input type="text" class="sub-text" placeholder="Add subcategory" required>
                                    <button type="button" class="sub-btn" onclick="addSubcategoryField('sublist-id')">&#10133</button>
                                    <button type="button" class="sub-btn" onclick="removeSubcategoryField(this)">&#10134</button>
                                </div>
                            </div>
                        
                            <button type="submit" class="btn">Add</button>
                            <button type="button" class="btn cancel" onclick="closeForm('addForm')">Close</button>
                        </form>
                    </div>
                </div>
                <a href="#Delete" class="tooltip w3-btn w3-white w3-border w3-border-green w3-circle">
                    &#10134
                    <span class="tooltiptext">
                        Delete category
                    </span>
                </a>
                <a href="#Edit" class="tooltip w3-btn w3-white w3-border w3-border-green w3-circle">
                    &#9998
                    <span class="tooltiptext">
                        Edit category
                    </span>
                </a>
            </td>
            <td id="category-title">
                    <div class="category" id="welcome-title" style="display:block">
                        <h1>Product catalogue</h1>
                    </div>
                    {% for category in categoryList %}
                    <div class="category" id="{{ category.titleID }}" style="display:none">
                        <h1>{{ category.name }}</h1>
                    </div>
                    {% endfor %}
            </td>
        </tr>
        <tr>
            <td id="category-tree" rowspan="2">
                    <ul id="category-list">
                        {% for category in categoryList %}
                        <li><button class="w3-bar-item w3-button" onclick="openCategory('{{ category.treeID }}')">{{ category.name }}</button></li>
                        {% endfor %}
                    </ul>
            </td>
        </tr>
        <tr>
            <td id="category-view">
                <div class="category" style="display:block">
                        <object type="text/html" data="static/products.html" ></object>                
                </div>
                {% for category in categoryList %}
                <div class="category" id="{{ category.treeID }}" style="display:none">
                        <!-- Call products.php -->                
                </div>
                {% endfor %}
            </td>
        </tr>
    </table>
</body>
</html>